@font-face {
  font-family: 'dinProSemiBold';
  src: url('./D-DIN-PRO-600-SemiBold.otf');
}
@font-face {
  font-family: 'dinProRegular';
  src: url('./D-DIN-PRO-400-Regular.otf');
}

.semiBold {
  font-family: 'dinProSemiBold', 'Microsoft YaHei', 'PingFang SC', 'SimHei', 'Hiragino Sans GB', sans-serif;
}
.regular {
  font-family: 'dinProRegular', 'Microsoft YaHei', 'PingFang SC', 'SimHei', 'Hiragino Sans GB', sans-serif;
}
.pingFang {
  font-family: 'PingFang SC', 'Microsoft YaHei', 'SimHei', 'Hiragino Sans GB', sans-serif;
  font-weight: 500;
}
